.board {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  border: 5px solid black;
  user-select: none;
  -moz-user-select: none;
}

.row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
}

.row:nth-child(3n) {
  border-bottom: 3px solid black;
}

.row:nth-child(9) {
  border-bottom: none;
}

.cell {
  padding: 2.5px 16px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  /* BUG: the bottom gray border is on the black right border on every third cell */
}

.cell:nth-child(3n) {
  border-right: 5px solid black;
}

.cell:nth-child(9n) {
  border-right: none;
}

.row:nth-child(3n) > .cell {
  border-bottom: none;
}

.cell:nth-child(9) {
  border-right: none;
}

/* .cell-highlight {
  color: blue;
}

.cell-no-highlight {
  color: green;
} */
