@import "tailwindcss";

.result-modal {
  @apply bg-stone-100 border-none rounded-xl p-8 m-auto;
}

.result-modal[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

.result-modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.result-modal h2 {
  @apply text-2xl;
}

.result-modal form {
  @apply text-right;
}

.result-modal button {
  @apply bg-indigo-700 text-lg p-2 mt-4 rounded text-stone-50
  cursor-pointer hover:bg-indigo-800 hover:text-stone-100;
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
